<h1>About</h1>
<p>
<%= link_to "One Month Rails","http://onemonthrails.com" %> is a projcet to teach 
<%= link_to "Ruby on Rails", "http://rubyonrails.org" %>
in one month. Tis is the sample application
</p>